<header>
  <nav class="menu">
    <input type="checkbox" name="toggle" id="button" class="toggleMenu">
    <label for="button" class="toggleMenu"><i class="fa fa-bars"></i>Menu</label>
    <ul>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li>
        <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m">
        <a href="#"><i class="fa fa-home"></i>Menu</a>
        <label for="sub_m" class="toggleSubmenu"><i class="fa"></i></label>
        <ul>
          <li><a href="#">Sub</a>
            <ul>
              <li><a href="">Test</a></li>
              <li><a href="">Test</a></li>
            </ul>
          </li>
          <li><a href="#">Sub</a></li>
          <li><a href="#">Sub</a></li>
          <li><a href="#">Sub</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
    </ul>
  </nav>
</header>