<header>
  <nav class="menu">
    <ul>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a>
        <ul>
          <li><a href="#">Sub</a>
            <ul>
              <li><a href="">Test</a></li>
              <li><a href="">Test</a></li>
            </ul>
          </li>
          <li><a href="#">Sub</a></li>
          <li><a href="#">Sub</a></li>
          <li><a href="#">Sub</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
      <li><a href="#"><i class="fa fa-home"></i>Menu</a></li>
    </ul>
  </nav>
</header>